In [334]:
import pandas as pd
import numpy as np
import ast

In [335]:
movie_df = pd.read_csv("/Users/ananyaaggarwal/Desktop/Movie Prediction Project/data/tmdb_5000_movies.csv")

In [336]:
credits_df = pd.read_csv("/Users/ananyaaggarwal/Desktop/Movie Prediction Project/data/tmdb_5000_credits.csv")

In [337]:
movie_df.rename(columns= {"id" : "movie_id"}, inplace=True)

In [338]:
merge_df = pd.merge(movie_df, credits_df, on = "movie_id")

In [339]:
merge_df.head(2)

,budget,genres,homepage,movie_id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [340]:
merge_df.drop(["homepage", "keywords", "overview", "spoken_languages", "tagline", "title_x", "title_y"], inplace=True)

KeyError: "['homepage', 'keywords', 'overview', 'spoken_languages', 'tagline', 'title_x', 'title_y'] not found in axis"

In [341]:
merge_df.drop("homepage" , axis = 1, inplace=True)

In [342]:
merge_df.drop("keywords" , axis = 1, inplace=True)

In [343]:
merge_df.drop("overview" , axis = 1, inplace=True)

In [344]:
merge_df.drop("spoken_languages" , axis = 1, inplace=True)

In [345]:
merge_df.drop("tagline" , axis = 1, inplace=True)

In [346]:
merge_df.drop("title_x" , axis = 1, inplace=True)

In [347]:
merge_df.drop("title_y" , axis = 1, inplace=True)

In [348]:
merge_df.head(2)

,budget,genres,movie_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,Released,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,Released,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [349]:
merge_df.dropna(subset = ["budget","revenue"], inplace=True)

In [350]:

def extract_top_cast(cast_list):
    if isinstance(cast_list, list):
        return [i.get('name', '') for i in cast_list[:3]]  # Extract top 3 names
    return []  # Return empty list for invalid data

merge_df['cast'].apply(extract_top_cast)

0       []
1       []
2       []
3       []
4       []
        ..
4798    []
4799    []
4800    []
4801    []
4802    []
Name: cast, Length: 4803, dtype: object

In [351]:
merge_df.head(2)

,budget,genres,movie_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,Released,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,Released,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [352]:
print(type(merge_df['cast'].iloc[0]))

<class 'str'>

In [353]:


def extract_top_cast(cast_data):
    if isinstance(cast_data, str):  # If it's a string, convert it
        try:
            cast_data = ast.literal_eval(cast_data)  # Convert to list
        except (ValueError, SyntaxError):
            return []  # Return empty if conversion fails

    if isinstance(cast_data, list):  # Ensure it's now a list
        return [i.get('name', '') for i in cast_data[:3]]  # Extract top 3 names

    return []  # Return empty if not a valid list

In [354]:
merge_df['cast'] = merge_df['cast'].apply(extract_top_cast)

In [355]:
merge_df.head(2)

,budget,genres,movie_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,Released,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,Released,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [356]:
merge_df

,budget,genres,movie_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,Released,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,Released,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,en,Spectre,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,Released,6.3,4466,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,en,The Dark Knight Rises,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,Released,7.6,9106,"[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,en,John Carter,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,Released,6.1,2124,"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",9367,es,El Mariachi,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,Released,6.6,238,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",72766,en,Newlyweds,0.642552,[],[],2011-12-26,0,85.0,Released,5.9,5,"[Edward Burns, Kerry Bishé, Marsha Dietlein]","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",231617,en,"Signed, Sealed, Delivered",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,Released,7.0,6,"[Eric Mabius, Kristin Booth, Crystal Lowe]","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,0,[],126186,en,Shanghai Calling,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,Released,5.7,7,"[Daniel Henney, Eliza Coupe, Bill Paxton]","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",25975,en,My Date with Drew,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,Released,6.3,16,"[Drew Barrymore, Brian Herzlinger, Corey Feldman]","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [357]:
print(type(merge_df['crew'].iloc[0]))

<class 'str'>

In [358]:
def extract_director(crew_data):
    if isinstance(crew_data, str):
        try:
            crew_data = ast.literal_eval(crew_data)
        except(ValueError, SyntaxError):
            return ""
        
    if isinstance(crew_data, list):
        for i in crew_data:
            if i.get("job") == "Director":
                return i.get('name', '')
    return ""

In [359]:
merge_df["crew"].apply(extract_director)

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4          Andrew Stanton
              ...
4798     Robert Rodriguez
4799         Edward Burns
4800          Scott Smith
4801          Daniel Hsia
4802     Brian Herzlinger
Name: crew, Length: 4803, dtype: object

In [360]:
merge_df.head(2)

,budget,genres,movie_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,Released,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,Released,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [361]:
merge_df['director'] = merge_df['crew'].apply(extract_director)

In [362]:
merge_df.head(2)

,budget,genres,movie_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,vote_average,vote_count,cast,crew,director
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,Released,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",James Cameron
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,Released,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Gore Verbinski

In [363]:
merge_df.drop("crew", axis = 1,inplace=True)

In [364]:
merge_df.head(2)

,budget,genres,movie_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,vote_average,vote_count,cast,director
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,Released,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,Released,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski

In [365]:
merge_df.drop("original_language" ,axis=1, inplace=True)

In [366]:
merge_df.drop("popularity" ,axis=1, inplace=True)

In [367]:
merge_df.drop("production_companies" ,axis=1, inplace=True)

In [368]:
merge_df.drop("release_date", axis=1, inplace = True)

In [369]:
merge_df.drop("production_countries", axis=1, inplace = True)

In [370]:
merge_df.drop("runtime", axis=1, inplace = True)

In [371]:
merge_df.drop("vote_average", axis=1, inplace = True)

In [372]:
merge_df.drop("vote_count", axis=1, inplace = True)

In [373]:
merge_df[merge_df["status"] == "Released"]

,budget,genres,movie_id,original_title,revenue,status,cast,director
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,2787965087,Released,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,961000000,Released,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,880674609,Released,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,1084939099,Released,"[Christian Bale, Michael Caine, Gary Oldman]",Christopher Nolan
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,284139100,Released,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton
...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",9367,El Mariachi,2040920,Released,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",Robert Rodriguez
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",72766,Newlyweds,0,Released,"[Edward Burns, Kerry Bishé, Marsha Dietlein]",Edward Burns
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",231617,"Signed, Sealed, Delivered",0,Released,"[Eric Mabius, Kristin Booth, Crystal Lowe]",Scott Smith
4801,0,[],126186,Shanghai Calling,0,Released,"[Daniel Henney, Eliza Coupe, Bill Paxton]",Daniel Hsia
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",25975,My Date with Drew,0,Released,"[Drew Barrymore, Brian Herzlinger, Corey Feldman]",Brian Herzlinger

In [374]:
merge_df = merge_df[merge_df["status"] == "Released"]

In [375]:
print(type(merge_df["genres"].iloc[0]))

<class 'str'>

In [376]:
def clean_genre(x):
    if isinstance(x,str):
        try:
            return [i["name"] for i in ast.literal_eval(x)]
        except:
            return[]
    return[]

In [377]:
merge_df["genres"].apply(clean_genre)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4795, dtype: object

In [378]:
merge_df["genres"] = merge_df["genres"].apply(clean_genre)

/var/folders/ry/__hzhc2s1l177zbt3plgr0kr0000gn/T/ipykernel_50385/14930437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df["genres"] = merge_df["genres"].apply(clean_genre)

In [379]:
merge_df.head(2)

,budget,genres,movie_id,original_title,revenue,status,cast,director
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",19995,Avatar,2787965087,Released,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron
1,300000000,"[Adventure, Fantasy, Action]",285,Pirates of the Caribbean: At World's End,961000000,Released,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski

In [380]:
merge_df.join(merge_df["genres"].str.join("|").str.get_dummies())

,budget,genres,movie_id,original_title,revenue,status,cast,director,Action,Adventure,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",19995,Avatar,2787965087,Released,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron,1,1,...,0,0,0,0,0,1,0,0,0,0
1,300000000,"[Adventure, Fantasy, Action]",285,Pirates of the Caribbean: At World's End,961000000,Released,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski,1,1,...,0,0,0,0,0,0,0,0,0,0
2,245000000,"[Action, Adventure, Crime]",206647,Spectre,880674609,Released,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes,1,1,...,0,0,0,0,0,0,0,0,0,0
3,250000000,"[Action, Crime, Drama, Thriller]",49026,The Dark Knight Rises,1084939099,Released,"[Christian Bale, Michael Caine, Gary Oldman]",Christopher Nolan,1,0,...,0,0,0,0,0,0,0,1,0,0
4,260000000,"[Action, Adventure, Science Fiction]",49529,John Carter,284139100,Released,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton,1,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[Action, Crime, Thriller]",9367,El Mariachi,2040920,Released,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",Robert Rodriguez,1,0,...,0,0,0,0,0,0,0,1,0,0
4799,9000,"[Comedy, Romance]",72766,Newlyweds,0,Released,"[Edward Burns, Kerry Bishé, Marsha Dietlein]",Edward Burns,0,0,...,0,0,0,0,1,0,0,0,0,0
4800,0,"[Comedy, Drama, Romance, TV Movie]",231617,"Signed, Sealed, Delivered",0,Released,"[Eric Mabius, Kristin Booth, Crystal Lowe]",Scott Smith,0,0,...,0,0,0,0,1,0,1,0,0,0
4801,0,[],126186,Shanghai Calling,0,Released,"[Daniel Henney, Eliza Coupe, Bill Paxton]",Daniel Hsia,0,0,...,0,0,0,0,0,0,0,0,0,0
4802,0,[Documentary],25975,My Date with Drew,0,Released,"[Drew Barrymore, Brian Herzlinger, Corey Feldman]",Brian Herzlinger,0,0,...,0,0,0,0,0,0,0,0,0,0

In [381]:
merge_df = merge_df.join(merge_df["genres"].str.join("|").str.get_dummies())

In [382]:
merge_df.head(2)

,budget,genres,movie_id,original_title,revenue,status,cast,director,Action,Adventure,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",19995,Avatar,2787965087,Released,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron,1,1,...,0,0,0,0,0,1,0,0,0,0
1,300000000,"[Adventure, Fantasy, Action]",285,Pirates of the Caribbean: At World's End,961000000,Released,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski,1,1,...,0,0,0,0,0,0,0,0,0,0

In [383]:
# merge_df.drop("genres", axis=1, inplace=True)

In [384]:

print(merge_df['director'].unique())  # If encoding 'director'

['James Cameron' 'Gore Verbinski' 'Sam Mendes' ... 'Scott Smith'
 'Daniel Hsia' 'Brian Herzlinger']

In [385]:
def extract_director(crew_data):
    if isinstance(crew_data, str):  # Convert only if it's a string
        try:
            crew_data = ast.literal_eval(crew_data)  # Convert string to list
        except (ValueError, SyntaxError):
            return ''  # Return empty if conversion fails

    if isinstance(crew_data, list):  # Ensure it's now a list
        for i in crew_data:
            if i.get('job') == 'Director':  # Find director
                return i.get('name', '')  # Return director's name
    
    return ''  # Return empty if no director is found

# Apply function
# merge_df['director'] = merge_df['crew'].apply(extract_director)

merge_df = merge_df.join(pd.get_dummies(merge_df['director'], prefix='Director'))
# merge_df['director'] = merge_df['director'].replace('ABCD', '')  # Replace

In [386]:
merge_df = merge_df.join(merge_df['cast'].str.join('|').str.get_dummies())

In [387]:
merge_df.head(2)

,budget,genres,movie_id,original_title,revenue,status,cast,director,Action,Adventure,...,Zoë Bell,Zoë Kravitz,Zubaida Sahar,Zuleikha Robinson,Àlex Brendemühl,Émilie Dequenne,Óscar Jaenada,Đỗ Thị Hải Yến,Špela Colja,Юлия Снигирь
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",19995,Avatar,2787965087,Released,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron,1,1,...,0,0,0,0,0,0,0,0,0,0
1,300000000,"[Adventure, Fantasy, Action]",285,Pirates of the Caribbean: At World's End,961000000,Released,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski,1,1,...,0,0,0,0,0,0,0,0,0,0

In [388]:
merge_df['success_ratio'] = merge_df['revenue'] / merge_df['budget']

In [389]:
print(merge_df['success_ratio'].head())  # Correct way to get column data

0    11.763566
1     3.203333
2     3.594590
3     4.339756
4     1.092843
Name: success_ratio, dtype: float64

In [390]:
merge_df.to_csv('/Users/ananyaaggarwal/Desktop/Movie Prediction Project/data/cleaned_and_merged_data.csv', index=False)